*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(218, 59, 63, 0) 15.06%, #DA3B3F 100%), linear-gradient(179.29deg, #CF2425 11.93%, rgba(207, 36, 37, 0) 99.39%);
    mix-blend-mode: normal;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: start;
}
#lines{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#line1, #line2, #line3{
    border-bottom: 2px solid white;
    width: 20px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}